:root{
    font-family:'Inter', ;
    @supports (font-variation-settings: normal)
    :root { font-family: 'Inter var', sans-serif; }
}
.about{
    position: relative;
width: 1440px;
height: 6395px;

background: #F8F8F8;
}
.sintax-logo{
    position: absolute;
width: 80px;
height: 35px;
left: 80px;
top: 64px;
}
.menu{
    position: absolute;
    width: 42px;
    height: 6px;
    left: 1318px;
    top: 80px;
}
.we-are-humans{
    position: absolute;
width: 730px;
height: 162px;
left: 80px;
top: 250px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 112.52%;
/* or 81px */

letter-spacing: -0.04em;

color: #000000;
}
.about-image-1{
    position: absolute;
width: 1280px;
height: 540px;
left: 80px;
top: 475px;
}
.image-text-1{
    position: absolute;
width: 1068px;
height: 132px;
left: 80px;
top: 1049px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 27px;
line-height: 123.02%;
/* or 33px */

letter-spacing: -0.04em;

color: #000000;
}
.section-2{
    position: absolute;
width: 1440px;
height: 1095px;
left: 0px;
top: 1276px;

background: #070707;
}
.section-2-text{
    position: absolute;
width: 961px;
height: 174px;
left: 80px;
top: 125px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 87px;
letter-spacing: -0.04em;

color: #FFFFFF;
}
.text-2{
    position: absolute;
width: 685px;
height: 66px;
left: 80px;
top: 366px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 123.02%;
/* or 22px */

letter-spacing: -0.04em;

color: #FFFFFF;
}
.about-image-2{
    position: absolute;
width: 623px;
height: 420px;
left: 80px;
top: 602px;
}
.about-image-3{
    position: absolute;
width: 623px;
height: 420px;
left: 737px;
top: 602px;

}
.our-principles-text{
    position: absolute;
width: 677px;
height: 102px;
left: 399px;
top: 2466px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 42px;
line-height: 51px;
text-align: center;

color: #000000;
}
.text-01{
    position: absolute;
width: 43px;
height: 51px;
left: 138px;
top: 2644px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 42px;
line-height: 51px;
/* identical to box height */

text-align: center;
letter-spacing: -0.04em;

color: #000000;
}
.text-01-oriented{
    position: absolute;
width: 281px;
height: 29px;
left: 137px;
top: 2724px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
/* identical to box height */

letter-spacing: -0.04em;

color: #000000;
}
.big-text-01{
    position: absolute;
width: 373px;
height: 88px;
left: 137px;
top: 2777px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
letter-spacing: -0.04em;

color: #858585;
}
.image-inspiring{
    position: absolute;
width: 380px;
height: 426px;
left: 137px;
top: 2921px;
}
.text-02{
    position: absolute;
width: 50px;
height: 51px;
left: 547px;
top: 2644px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 42px;
line-height: 51px;
/* identical to box height */

text-align: center;
letter-spacing: -0.04em;

color: #000000;
}
.big-text-02{
    position: absolute;
width: 233px;
height: 29px;
left: 550px;
top: 2724px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
/* identical to box height */

letter-spacing: -0.04em;

color: #000000;
}
.text-our-team{
    position: absolute;
width: 373px;
height: 88px;
left: 550px;
top: 2777px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
letter-spacing: -0.04em;

color: #858585;
}
.image-inspiring-2{
    position: absolute;
width: 380px;
height: 426px;
left: 547px;
top: 2921px;
}
.text-03{
    position: absolute;
width: 51px;
height: 51px;
left: 960px;
top: 2644px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 42px;
line-height: 51px;
/* identical to box height */

text-align: center;
letter-spacing: -0.04em;

color: #000000;
}
.text-adaptive{
    position: absolute;
width: 191px;
height: 29px;
left: 963px;
top: 2724px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
/* identical to box height */

letter-spacing: -0.04em;

color: #000000;
}
.big-text-03{
    position: absolute;
width: 373px;
height: 88px;
left: 964px;
top: 2777px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
letter-spacing: -0.04em;

color: #858585;
}
.image-inspiring-3{
    position: absolute;
width: 380px;
height: 426px;
left: 957px;
top: 2921px;
}
.text-as-team{
    position: absolute;
width: 865px;
height: 102px;
left: 305px;
top: 3502px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 42px;
line-height: 51px;
text-align: center;
letter-spacing: -0.04em;

color: #000000;
}