.main-title{
    font-weight: 200;
    line-height: 200,52%;
    letter-spacing: -0,09em;
    position: absolute;
    width: 900px;
    height: 81px;
    left: 140px;
    top: 409px;
    font-size: 72px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    

}
.homepage-1{
  color: rgb(216, 209, 209);
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  
}
.homepage-2{
  background: #070707;
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;

}
.homepage-3{
  color: rgb(216, 209, 209);
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:#070707;
}
.homepage-4{
  color: rgb(7, 7, 7);
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #070707;
}
.main-title-1{
  position: absolute;
  width: 80px;
  height: 35px;
  left: 80px;
  top: 84px;
  color: #FDFDFD;
}
.main-title-2{
  position: absolute;
  width: 42px;
  height: 6px;
  left: 1318px;
  top: 80px;

}
.main-image{
  position: absolute;
  width: 1280px;
  height: 720px;
  left: 80px;
  top: 699px;

}
.main-tex-1{
  /* Digital. Brand. Acceselator */


/* Digital. Brand. Acceselator */
font-family: 'Inter', sans-serif;
position: absolute;
width: 900px;
height: 81px;
left: 360px;
top: 292px;
font-size: 72px;
color: #FDFDFD;
font-weight: 100;
    line-height: 200,52%;
    letter-spacing: -0,09em;
         



}
.below-text{
  /* Sintax creates interaction user experiences for startups & the world’s leading companies. */

position: absolute;
width: 688px;
height: 76px;
left: 376px;
top: 445px;
font-weight: 300;
font-size: 20px;
line-height: 189.02%;
/* or 38px */
text-align: center;
letter-spacing: -0.025em;
 font-family: 'Inter', sans-serif;
color: #B3B1B1;



}
