.main-title{
    font-weight: 200;
    line-height: 200,52%;
    letter-spacing: -0,09em;
    position: absolute;
    width: 900px;
    height: 81px;
    left: 140px;
    top: 409px;
    font-size: 72px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    

}
.homepage-1{
  color: rgb(216, 209, 209);
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  width: 1440px;
  height: 900px;

  
}
.homepage-2{
  background: #070707;
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  width: 1440px;
  height: 900px;

  

}
.homepage-3{
  color: rgb(216, 209, 209);
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:#070707;
  width: 1440px;
  height: 900px;
}
.homepage-4{
  color: rgb(7, 7, 7);
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #070707;
  width: 1440px;
  height: 740px;
  font-family: 'Inter', sans-serif;

}
.homepage-5{
  position: absolute;
width: 1440px;
height: 2470px;
left: 0px;
top: 740px;
background: #000000;
}
.homepage-6{
  position: absolute;
width: 1440px;
height: 1115.7px;
left: 0px;
top: 3210px;

background: #070707;
}


.main-title-1{
  position: absolute;
  width: 80px;
  height: 35px;
  left: 80px;
  top: 84px;
  color: #FDFDFD;
}
.main-title-2{
  position: absolute;
  width: 42px;
  height: 6px;
  left: 1318px;
  top: 80px;

}
.main-image{
  position: absolute;
  width: 1280px;
  height: 720px;
  left: 80px;
  top: 699px;

}
.main-tex-1{
  /* Digital. Brand. Acceselator */


/* Digital. Brand. Acceselator */
font-family: 'Inter', sans-serif;
position: absolute;
width: 900px;
height: 81px;
left: 360px;
top: 292px;
font-size: 72px;
color: #FDFDFD;
font-weight: 100;
    line-height: 200,52%;
    letter-spacing: -0,09em;
         



}
.below-text{
  /* Sintax creates interaction user experiences for startups & the world’s leading companies. */

position: absolute;
width: 688px;
height: 76px;
left: 376px;
top: 445px;
font-weight: 300;
font-size: 20px;
line-height: 189.02%;
/* or 38px */
text-align: center;
letter-spacing: -0.025em;
 font-family: 'Inter', sans-serif;
 font-style: normal;
color: #B3B1B1;



}
.s-logo{
  position: absolute;
  width: 112px;
  height: 135px;
  left: 260px;
  top: 152px;

}
.social-link-1{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  position: absolute;
  width: 70px;
  height: 20px;
  left: 260px;
  top: 431px;
  font-weight: 300;
  font-size: 20px;
  line-height:20.25px;
/* or 20px */
letter-spacing: -0.04em;
color: #FFFFFF;
}
.social-link-2{
  position: absolute;
width: 78px;
height: 20px;
left: 260px;
top: 471px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 20.25px;
/* or 20px */

letter-spacing: -0.04em;

color: #FFFFFF;
}
.social-link-3{
  position: absolute;
width: 56px;
height: 20px;
left: 260px;
top: 511px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 20.25px;
/* or 20px */

letter-spacing: -0.04em;

color: #FFFFFF;
}
.social-link-4{
  position: absolute;
width: 67px;
height: 20px;
left: 260px;
top: 551px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 20.25px;
/* or 20px */

letter-spacing: -0.04em;

color: #FFFFFF;
}
.cookies{
  position: absolute;
  width: 1280px;
  height: 21px;
  left: 80px;
  top: 823px;

}
.topline{
  position: absolute;
width: 42px;
height: 0px;
left: 1318px;
top: 80px;
}
.portfolio{
  position: absolute;
width: 255px;
height: 81px;
left: 925px;
top: 152px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 112.52%;
/* identical to box height, or 81px */

letter-spacing: -0.04em;

color: #FDFDFD;

}
.service{
  position: absolute;
width: 232px;
height: 81px;
left: 925px;
top: 269px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 112.52%;
/* identical to box height, or 81px */

letter-spacing: -0.04em;

color: #FDFDFD;

}
.about{
  position: absolute;
width: 187px;
height: 81px;
left: 925px;
top: 386px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 112.52%;
/* identical to box height, or 81px */

letter-spacing: -0.04em;

color: #FDFDFD;

}
.contact{
  position: absolute;
width: 249px;
height: 81px;
left: 925px;
top: 503px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 112.52%;
/* identical to box height, or 81px */

letter-spacing: -0.04em;

color: #FDFDFD;
}
.logo-2{
  position: absolute;
width: 1280px;
height: 35px;
left: 80px;
top: 64px;
}
.landing-page-text{
  position: absolute;
width: 706px;
height: 81px;
left: 360px;
top: 292px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 112.52%;
/* identical to box height, or 81px */

letter-spacing: -0.09em;

color: #FDFDFD;
}
.landing-page-text-2{
  position: absolute;
width: 640px;
height: 64px;
left: 400px;
top: 445px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 176.02%;
/* or 32px */

text-align: center;
letter-spacing: -0.05em;

color: #9C9C9C;
}
.video{
  position: absolute;
width: 1280px;
height: 700px;
left: 80px;
top: 10px;


background: url(image.png);
}
.video-click{
  position: absolute;
width: 100px;
height: 100px;
left: 670px;
top: 290px;
}
.digital-branding{
 
position: absolute;
width: 427px;
height: 81px;
left: 277px;
top: 1100px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 10%;
/* identical to box height, or 81px */
letter-spacing: -0.09em;
color: #FDFDFD;
}
.fotobox{
  position: absolute;
width: 170px;
height: 170px;
left: 164px;
top: 1290px;
background: #000000;
}
.boxfototext{
  position: absolute;
width: 620px;
height: 170px;
left: 454px;
top: 1290px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 151.52%;
/* or 36px */

letter-spacing: -0.04em;

color: #9C9C9C;

}
.landingphoto-1{
  position: absolute;
width: 640px;
height: 400px;
left: 55px;
top: 1700px;
}
.landinphoto-2{
  position: absolute;
width: 672px;
height: 436px;
left: 723px;
top: 1674px;
}
.chekmail{
  position:absolute;
width: 502px;
height: 68.97px;
left: 469px;
top: 200px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 56px;
line-height: 1px;

color: #FFFFFF;

}



